<h1>Movie's comment</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :comment %>
    <%= f.input :list, collection: List.all %>
    <%= f.input :movie, collection: Movie.all %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
